__pycache__/
*.py[cod]
*$py.class
.idea/
log/
store.sqlite3
build/
dist/
*.egg-info/
uploads/

.pybuild/
package/debian/*.log
package/debian/*.debhelper
package/debian/*.substvars
package/debian/cryton/
package/debian/files
*.build
*.buildinfo
*.changes
*.dsc
*.deb
*.tar.gz
